@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
}
.container-blog{
  padding: 10px;
  background-color: #0a0a0a;
  font-family: 'Poppins', sans-serif;
}
.container-blog h1{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 4.5rem;
}
.blog-post {
  display: flex;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px ;
  background-color: gray;
  padding: 30px;
  border-radius: 30px;
}

.img-blog {
  flex: 0 0 auto;
  margin-right: 20px;
}

.img-blog img {
  width: 250px; /* Adjust as needed */
  height: auto;
}

.content-blog {
  flex: 1 1 auto;
  max-width: 600px;
}

.title-blog {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(39, 37, 37);
}
.read-more-link {
  text-decoration: underline;
  cursor: pointer; /* Change cursor to pointer on hover */
}
.read-more-content {
  display: none;
  margin-top: 10px;
}
.read-less-link {
  display: none;
  text-decoration: underline;
  cursor: pointer;
}