<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!-- Footer Section Begin -->
   <section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo">
                        <a href="#"><img src="/assets/footer.png" width="250px"></a>
                    </div>
                    <!-- <p>Zenfit Pvt Ltd.</p> -->
                    <!-- <div class="fa-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    <h4>Zenfit</h4>
                    <ul>
                        <li><a href="/home.php">Home</a></li>
                        <li><a href="/aboutus.php">About</a></li>
                        <li><a href="/cart.php">Cart</a></li>
                        <li><a href="/product.php">Product</a></li>
            
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    <h4>Membership</h4>
                    <ul>
                        <li><a href="/membership-form.php">Zenfit Pro</a></li>
                        <li><a href="/membership-form.php">Zenfit Plus</a></li>
                        <li><a href="/membership-form.php">Zenfit Go</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="fs-widget">
                    <h4>Pages</h4>
                    <ul>
                        <li><a href="/calculate.php">BMI Calculator</a></li>
                        <li><a href="/blog.php">Blog</a></li>
                        <li><a href="/plan.html">AI Workout & Diet</a></li>
                      
                    </ul>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</section>
<!-- Footer Section End -->
</body>
</html>